/* 基础样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 "Microsoft Yahei",
        "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: middle;
}

input,
button {
    color: #333;
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}