/* 首页样式 */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.welcome-section .hello {
    color: #f0f0f0;
    font-size: 3.5rem;
    font-weight: 700;
}
.welcome-section .job {
    color: #be3144;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
}

.projects-section {
    overflow: hidden;
    padding: 5rem 4rem;
    background-color: #45567d;
    text-align: center;
}
.projects-section .projects-hd {
    max-width: 850px;
    margin: 80px auto;
    color: #f0f0f0;
    font-size: 3rem;
    border-bottom: 2px solid #f0f0f0;

}

.projects-section .projects {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.projects-section .btn-show-all {
    transition: all .3s;
    padding: 1rem 2rem;
    background-color: #303841;
    color: #f0f0f0;
    font-size: 1.8rem;
    border-radius:7px;
}
.projects-section .btn-show-all:hover {
    background-color: #be3144;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects li {
    overflow: hidden;
   position: relative;
   margin-bottom: 38px;
}
.projects li:hover .project-title {
   bottom: 0;
}

.project-pic {
    width: 375px;
    height: 241px;
}
.project-pic img {
    width: 375px;
}
.project-title {
    transition: all .3s;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 375px;
    height: 60px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}